/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	font-family: serif;
	background: url('/assets/deadlift.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#header{
	width: 100%;
	height: 70px;
	background-color: black;
	box-shadow: 0px 8px 5px white;
	position: fixed;
	top: 0;
	z-index: 999;
}

.btn{
	background-color: #02A9F4;
	color: white;
	margin-top: 3%;
}

#smallbutton{
	background-color: #02A9F4;
	color: white;
	margin-top: 3%;
	float: right;
}

#login{
	border-bottom:1px black solid;
	background-color: rgba(250, 250, 250, .9);
	color: black;
}

.loginform{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	color: white;
	display: none;
}

.btn:hover{
	background-color: white;
	color: #02A9F4;
}

#name{
	color: #02A9F4;
	margin: 0;
	position: relative;
	top: 40%;
	display: inline;
}

.headbtn{
	margin-top: 1%;
	margin-right: 1%;
	float: right;
	/*display: none;*/
}

#trainerbtn{
	float: right;
	background: none;
	color: #3B3D3D;
	position: relative;
	top: 40px;
	margin: 0;
}

#trainerbtn:hover{
	color: #02A9F4;
}

.login{
	background-color: rgba(165, 171, 172, .9);
	width: 20%;
    margin: 0 auto;
    position: relative;
    top: -500px;
    border-radius: 10px;
    color: white;
}

#homelogin{
	background-color: rgba(165, 171, 172, .9);
	width: 20%;
    margin: auto;
    position: relative;
    top: -265px;
    border-radius: 10px;
    position:absolute;top:-1300px;left:0px;right:0px;
}

.form{
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.new_athlete{
	width: 300px;
	/*margin: 0 auto;*/
	background-color: rgba(165, 171, 172, .85);
	color: white;
	border-radius: 10px;
	position: absolute;
	top: 120px;
	left: 580px;
	display: none;
}

#edit_athlete{
	width: 300px;
	margin: 0 auto;
	background-color: rgba(165, 171, 172, .85);
	color: white;
	border-radius: 10px;
	position: relative;
	top: -550px;
}

.homebackground{
	width: 70%;
	height: 300px;
	margin: 1% auto;
	/*background-color: rgba(165, 171, 172, .85);;*/
	background-size: cover;
	border-radius: 10px;
	position:absolute;top:-1000px;left:215px;

}

.appinfo{
	width: 50%;
	height: 300px;
	background-color: rgba(165, 171, 172, .85);;
	border-radius: 10px:;
	position:absolute;bottom:-1000px;left:0px;right:0px;top:0px;
	border-radius: 10px;
	margin: auto;

}

.createbackground{
	width: 98%;
	height: 600px;
	margin: 5% auto;
	background: url('/assets/dumbells.jpg');
	border-radius: 10px;
	position:absolute;top:100;left:-2500px;
}



.updatebackground{
	width: 98%;
	height: 600px;
	margin: 5% auto;
	background: url('/assets/hatedtraining.jpg');
	background-size: cover;
	border-radius: 10px;
	display: none;
}

.girllogbackground{
	width: 98%;
	height: 600px;
	margin: 6% auto;
	background: url('/assets/bwgirl.jpg');
	background-size: cover;
	border-radius: 10px;
}

.logbackground{
	width: 98%;
	height: 600px;
	margin: 6% auto;
	background: url('/assets/deadliftbw.jpg');
	background-size: cover;
	border-radius: 10px;
}

.logform{
	width: 300px;
	margin: 0 auto;
	background-color: rgba(165, 171, 172, .85);
	color: white;
	border-radius: 10px;
	position: relative;
	top: -600px;
}

#infolog{
	
}

.aboutus{
	color: white;
	width: 50%;
	margin: 0 auto;

}

.tracker{
	background-color: black;
	border:1px white solid;
	color: white;
}

.row{
	margin-top: 1%;
	display: none;
}

.dashboard{
	margin-top: 8%;
}

.loginput{
	color: black;
}

select{
	background-color: white;
	color: #02A9F4;
}

#templatebtn{
	width: auto;
	height: auto;
}

#templatename{
	display: inline;
}

#templateform{
	display: none;
}

#newtemplateform{
	height: 1120px;
	background-color: black;
	color: white;
}

#template_name{
	background-color: white;
}

#exerciseform{
	display: none;
}

.exit{
	position: absolute;
    right: 40px;
    background-color: black;
    color: white;
    top: 755px;
    z-index: 1;
}

.exit:hover{
	background-color: #02A9F4;
	color: white;
}

/*.filler{
	width: 100%;
	height: 500px;
	background: url('/assets/bench.jpg');
	background-size: cover;
	position: absolute;
	top: 750px; 
	z-index: -1;
}*/
