body{
	color: gray;
}

.dashboard{
	width: 95%;
	margin: 0 auto;
}

#athlete_info{
	background-color: #383B3D;
	color: white;
	height: 300px;
	overflow: scroll;
	border-radius: 5px;
	border: 2px #02A9F4 solid;
	padding-left: 30px;
}

.card{
	background-color: #383B3D;
	color: white;
	height: 300px;
	overflow: scroll;
	border-radius: 5px;
	border: 2px #02A9F4 solid;
}

.row{
	margin: 3px;
}


input{
	background: none;
	border: none;
	border-bottom: 1px white solid;
	width: auto;
}

select{
	background-color: black;
	color: red;
	border-bottom: 1px white solid;
}

#update{
	background-color: #02A9F4;
	float: left;
	margin-bottom: 3%;
}

#update:hover{
	background-color: white;
	color: black;
}

.profile{
	margin-bottom: 10px;
}