// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all_exercises{
	width: 100%;
	height: 1120px;
	overflow: scroll;
	float: left;
	color: white;
	background-color: black;
}

#new_template{
	width: 100%;
	overflow: scroll;
	float: left;
}

.day{
	width: 100%;
	height: 200px;
	border-bottom: 1px #02A9F4 solid;
	color: white;
	overflow: scroll;
}

.categories{
	height: 228px;
	overflow: scroll;
}

.specific_exercise:hover{
	background-color: white;
	color: black;
}

